@model Course
@{
    SelectList DeptList = new SelectList(ViewBag.Dept, "Id", "Name");

}
<h1>New</h1>
<form action="/Course/SaveNEw" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="Degree"></label>
        <input asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="MinDegree"></label>
        <input asp-for="MinDegree" class="form-control" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>
mi
    </div>
    <div>
        <label asp-for="Dept_ID"></label>
        @*<input type="text" name="Dept_ID" id="Dept_ID" value="@Model.Dept_ID" class="form-control" />*@
        <select class="form-control" asp-for="Dept_ID" asp-items="DeptList">
        </select>
    </div>



    <input type="submit" class="btn btn-success" value="Create" />
</form>
@section Scripts{
    <!--JQuery-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
